<div class="left-emoji">
    <ul>
      <li *ngFor="let item of emoji">
        <img [src]="item.images" alt="smile">
      </li>
    </ul>
    <h6></h6>
  </div>
  
  <div class="right-stats">
    <ul>
      <li>
        <h5>
          <app-feather-icon [class]="'iw-16 ih-16'" [icons]="'message-square'"></app-feather-icon>
          <!-- <span>{{ commentCount }}</span> comment -->
        </h5>
      </li>
      <li>
        <h5>
          <app-feather-icon [class]="'iw-16 ih-16'" [icons]="'share'"></app-feather-icon> 
          <span></span> 
        </h5>
      </li>
    </ul>
  </div>
  