.sessions-container {
    margin-top: 5px;
    padding-left: 10px;
    border-left: 2px solid #ccc;
  }
  
  .session-item {
    font-size: 0.9em;
    color: #555;
    display: block; /* Assurez-vous que les sessions sont visibles */
  }