<div class="pre-loader" [class.d-none]="!loading">
    <app-weathers-skeleton></app-weathers-skeleton>
</div>

<div class="event-cover bg-theme">
    <div class="event-img"
        [style.backgroundImage]="'url(' + (weatherData?.weather[0]?.icon ? 'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@4x.png' : 'assets/images/weather.jpg') + ')'"
        style="background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
        <img [src]="weatherData?.weather[0]?.icon ? 'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@4x.png' : 'assets/images/weather.jpg'" class="img-fluid bg-img" alt="Weather Background" style="display: none;">
        <div class="event-content">
            <h1>Weather Forecast</h1>
        </div>
        <div class="cover-img-detail">
            <span>{{ currentDate }}</span>
            <h3>{{ weatherData?.name || 'London' }}, {{ weatherData?.sys?.country || 'United Kingdom' }}</h3>
        </div>
        <div class="settings">
            <div class="setting-btn">
                <a href="javascript:void(0)" (click)="refreshWeather()">
                    <app-feather-icon [icons]="'rotate-cw'"
                        [class]="'icon icon-dark stroke-width-3 iw-11 ih-11'"></app-feather-icon>
                </a>
            </div>
            <!-- <div class="setting-btn ms-2 setting-dropdown" (clickOutside)="close()">
                <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                    <a href="javascript:void(0)" [class.show]="isOpen" (click)="isOpen = !isOpen">
                        <app-feather-icon [icons]="'sun'"
                            [class]="'icon-dark stroke-width-3 icon iw-11 ih-11'"></app-feather-icon>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right custom-dropdown" [class.show]="isOpen"
                        style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-149px, 23px);">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" (click)="openCityChange()">
                                    <app-feather-icon [icons]="'edit'"
                                        [class]="'icon-font-light iw-16 ih-16'"></app-feather-icon>Change City
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <app-feather-icon [icons]="'settings'"
                                        [class]="'icon-font-light iw-16 ih-16'"></app-feather-icon>Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="event-timeline weather-timeline">
        <div class="timeline-title">
            <div class="media">
                <img src="assets/images/icon/event.png" class="img-fluid" alt="Event Icon">
                <div class="media-body">
                    <h4>Hourly Forecast</h4>
                </div>
            </div>
        </div>
        <ul class="timeline-content">
            <div *ngIf="loadingHourly" class="loading">Loading hourly forecast...</div>
            <div *ngIf="errorHourly" class="error">{{ errorHourly }}</div>
            <ng-container *ngIf="hourlyForecast && !loadingHourly && !errorHourly">
                <li *ngFor="let item of hourlyForecast | slice:0:6">
                    <img [src]="'https://openweathermap.org/img/wn/' + item.weather[0].icon + '.png'" alt="Weather Icon">
                    <h4>{{ item.temp | number:'1.0-0' }}º</h4>
                    <h6>{{ item.dt * 1000 | date:'h:mm a' }}</h6>
                </li>
            </ng-container>
        </ul>
    </div>
</div>
<div class="container-fluid px-0 section-t-space weather-page">
    <div class="page-content">
        <div class="content-left">
            <div>
                <app-weather-section [city]="city" (cityChange)="onCityChange($event)"></app-weather-section>
            </div>
            <div>
                <div class="weather-search section-t-space">
                    <app-search-location (citySelected)="onCityChange($event)"></app-search-location>
                </div>
            </div>
        </div>
        <div class="content-center">
            <div class="forecast-table section-b-space">
                <div class="card-title">
                    <h3>5-Day Forecast</h3>
                    <div class="settings">
                        <div class="setting-btn">
                            <a href="javascript:void(0)" class="d-flex" (click)="refreshWeather()">
                                <app-feather-icon [icons]="'rotate-cw'"
                                    [class]="'icon icon-theme stroke-width-3 iw-11 ih-11'"></app-feather-icon>
                            </a>
                        </div>
                        <!-- <div class="setting-btn ms-2 setting-dropdown" (clickOutside)="outSideClose()">
                            <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                <a class="d-flex" href="javascript:void(0)" [class.show]="isShow"
                                    (click)="isShow = !isShow">
                                    <app-feather-icon [icons]="'sun'"
                                        [class]="'icon-dark stroke-width-3 iw-12 ih-12'"></app-feather-icon>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right custom-dropdown" [class.show]="isShow"
                                    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 14px);">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" (click)="openCityChange()">
                                                <app-feather-icon [icons]="'edit'"
                                                    [class]="'icon-font-light iw-16 ih-16'"></app-feather-icon>Change City
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <app-feather-icon [icons]="'settings'"
                                                    [class]="'icon-font-light iw-16 ih-16'"></app-feather-icon>Settings
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="table-sec">
                    <div *ngIf="loadingDaily" class="loading">Loading daily forecast...</div>
                    <div *ngIf="errorDaily" class="error">{{ errorDaily }}</div>
                    <table class="table table-hover table-responsive-md" *ngIf="dailyForecast && !loadingDaily && !errorDaily">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Temp</th>
                                <th scope="col">Description</th>
                                <th scope="col">Humidity</th>
                                <th scope="col">Precipitation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let day of dailyForecast | slice:0:5">
                                <td class="date">
                                    <h5>{{ day.dt * 1000 | date:'EEE' }} <span>{{ day.dt * 1000 | date:'MM/dd' }}</span></h5>
                                </td>
                                <td class="temp">
                                    <img [src]="'https://openweathermap.org/img/wn/' + day.weather[0].icon + '.png'" alt="Weather Icon" style="width: 50px;">
                                    <span>{{ day.temp.max | number:'1.0-0' }}º / {{ day.temp.min | number:'1.0-0' }}º</span>
                                </td>
                                <td>{{ day.weather[0].description | titlecase }}</td>
                                <td>{{ day.humidity }}%</td>
                                <td>{{ (day.pop * 100) | number:'1.0-0' }}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>