<div style="display: flex;">
            <img *ngFor="let emoji of emojiList"
                 [src]="emoji.images"
                 (click)="onReact(emojiToReactionTypeMap[emoji.images])"
                 style="cursor:pointer; width:24px; height:24px; margin-right:8px;"
            />
          </div><div class="post-react">
      <ul>
      
        <li class="react-btn" (clickOutside)="isEmoji = false">
            <a class="react-click" href="javascript:void(0)" (click)="isEmoji =!isEmoji">
                <app-feather-icon [class]="'iw-18 ih-18'" [icons]="'smile'"></app-feather-icon>
                react
            </a>
            <div class="react-box" [class.show]="isEmoji">
                <ul>
                    <!-- Liste des emojis si elle existe -->
                    <li *ngFor="let item of emojiList">
                        <!--<a href="javascript:void(0)" (click)="addEmojiFromList(item.images)">-->
                            <img [src]="item.images" alt="{{item.icon}}">
                        <!--</a>-->
                    </li>
                </ul>
            </div>
        </li>
        <li class="comment-click" (click)="toggle(data)">
            <a href="javascript:void(0)">
                <app-feather-icon [class]="'iw-18 ih-18'" [icons]="'message-square'"></app-feather-icon>
                comment
            </a>
        </li>
        <li (click)="share()">
            <a href="javascript:void(0)">
                <app-feather-icon [class]="'iw-16 ih-16'" [icons]="'share'"></app-feather-icon>
                share
            </a>
        </li>
        
    </ul>
</div>

<div class="comment-section">
    <div *ngIf="data.active" class="comments" [class.d-block]="data.active">
        <app-comment-data [postId]="postId"></app-comment-data>
    </div>
    <div class="reply">
        <div class="comment-input">
            <input 
                type="text" 
                class="form-control comment-field" 
                placeholder="Write a Comment..." 
                [(ngModel)]="chatText"
            >
            <!-- Icône d'envoi -->
            <a href="javascript:void(0)" (click)="sendComment()">
                <app-feather-icon [class]="'iw-14 ih-14 icon'" [icons]="'send'"></app-feather-icon>
            </a>

            <div class="icon-container">
                <a href="javascript:void(0)" class="emoji-icon" (click)="toggleEmojiPicker()">
                    <app-feather-icon [class]="'iw-14 ih-14 icon'" [icons]="'smile'"></app-feather-icon>
                </a>
                <a href="javascript:void(0)" class="camera-icon">
                    <app-feather-icon [class]="'iw-14 ih-14 icon'" [icons]="'camera'"></app-feather-icon>
                </a>
            </div>
        </div>
       
          
          

        <!-- Emoji picker -->
         
        <div *ngIf="showEmojiPicker" class="emoji-picker-container">
            <ngx-emoji-mart (emojiSelect)="addEmojiFromPicker($event)"></ngx-emoji-mart>
        </div>
    </div>
</div>
