<!-- <div class="event-section">
    <div class="event_category no-arrow default-space">
        <owl-carousel-o [options]="storyDataOptions">
            <ng-template carouselSlide>
                <div>
                    <app-events [events]="event1"></app-events>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <app-events [events]="event2"></app-events>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <app-events [events]="event3"></app-events>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div> -->
<div class="event_category no-arrow default-space">
    <owl-carousel-o [options]="storyDataOptions">
      <ng-container *ngFor="let event of allEvents">
        <ng-template carouselSlide>
          <app-events [events]="event"></app-events>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>