<!-- <div class="event-section">
    <div class="event_category no-arrow default-space">
        <owl-carousel-o [options]="storyDataOptions">
            <ng-template carouselSlide>
                <div>
                    <app-events [events]="event1"></app-events>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <app-events [events]="event2"></app-events>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <app-events [events]="event3"></app-events>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div> -->
<div class="event-section">
    <h2>List of Event</h2>

    <!-- Vérifier si des événements existent -->
    <div *ngIf="events.length > 0; else noEvents">
        <p>there is {{ events.length }} event </p>
        <owl-carousel-o [options]="storyDataOptions">
            <ng-container *ngFor="let event of events">
                <ng-template carouselSlide>
                    <div>
                        <app-events [event]="event"></app-events>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>

    <!-- Afficher un message si aucun événement n'est disponible -->
    <ng-template #noEvents>
        <p>NO EVENT.</p>
    </ng-template>
</div>