<div class="weather-section weather-light">
  <div class="card-title">
      <h3>Weather</h3>
      <div class="settings">
          <div class="setting-btn">
              <a href="javascript:void(0)" class="d-flex" (click)="refreshWeather()">
                  <app-feather-icon [icons]="'rotate-cw'" [class]="'icon icon-dark stroke-width-3 iw-11 ih-11'"></app-feather-icon>
              </a>
          </div>
          <!-- <div class="setting-btn ms-2 setting-dropdown" (clickOutside)="outSideClose()">
              <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                  <a class="d-flex" href="javascript:void(0)" [class.show]="isOpen" (click)="isOpen = !isOpen">
                      <app-feather-icon [icons]="'sun'" [class]="'icon-dark stroke-width-3 iw-12 ih-12'"></app-feather-icon>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right custom-dropdown" [class.show]="isOpen" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-148px, 14px);">
                      <ul>
                          <li>
                              <a href="javascript:void(0)" (click)="openCityChange()">
                                  <app-feather-icon [icons]="'edit'" [class]="'icon-font-light iw-16 ih-16'"></app-feather-icon>Change City
                              </a>
                          </li>
                          <li>
                              <a href="javascript:void(0)">
                                  <app-feather-icon [icons]="'settings'" [class]="'icon-font-light iw-16 ih-16'"></app-feather-icon>Settings
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div> -->
      </div>
  </div>

  <div class="weather-content">
      <div *ngIf="loading" class="loading">Loading weather data...</div>
      <div *ngIf="error" class="error">{{ error }}</div>

      <div *ngIf="weatherData && !loading && !error">
          <div class="top-title">
              <h2>{{ weatherData.main.temp | number:'1.0-0' }}°C</h2>
              <h5>{{ currentTime }}</h5>
          </div>
          <h5>{{ weatherData.weather[0].description | titlecase }}</h5>
          <h6>{{ weatherData.name }}, {{ weatherData.sys.country }} <span>{{ currentDate }}</span></h6>
          <div class="flaks-img">
              <img [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'" class="img-fluid" alt="Weather Icon">
          </div>
      </div>
  </div>

  <div class="snowflakes" aria-hidden="true" *ngIf="weatherData?.weather[0]?.main === 'Snow'">
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
  </div>
</div>