<div (clickOutside)="outSideClose()">
    <a class="main-link" href="javascript:void(0)" (click)="isOpen = !isOpen" [class.show]="isOpen">
        <app-feather-icon [class]="'icon-light stroke-width-3 iw-16 ih-16'" [icons]="'user-plus'"></app-feather-icon>
    </a>
    <div class="dropdown-menu" [class.show]="isOpen"
        style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 20px);">
        <div class="dropdown-header">
            <span>friend request</span>
            <div class="mobile-close" (click)="isOpen = false">
                <h5>close</h5>
            </div>
        </div>
        <div class="dropdown-content">
            <ul class="friend-list">
                @for (request of friendRequests; track request.id) {
                    <li>
                        <div class="media">
                            @if (request.senderDetails) {
                                <div 
                                class="profile-img" 
                                [style.background-image]="getProfileImage(request.senderDetails.profilePicture)">
                              </div>
                                <div class="media-body">
                                    <div>
                                        <h5 class="mt-0">{{ request.senderDetails.firstName || 'Utilisateur inconnu' }}</h5>
                                        <h6>1 mutual friend</h6> <!-- À adapter si vous avez les données -->
                                    </div>
                                </div>
                            } @else {
                                <p>Chargement des détails...</p>
                            }
                        </div>
                        <div class="action-btns">
                            <button type="button" class="btn btn-solid" (click)="confirmRequest(request.id)">confirm</button>
                            <button type="button" class="btn btn-outline ms-1" (click)="deleteRequest(request.id)">delete</button>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>